{% extends '_base.html' %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}
    <h1>Home</h1>
    {% if user.is_authenticated %}
        <p style="display: inline-block">Welcome {{ user.username }}. </p>
        <form action="{% url 'logout' %}" method="POST"
              style="display: inline-block">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}"> login </a> | <a href="{% url 'signup' %}"> signup </a>
    {% endif %}
{% endblock content %}